{
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "$": true,
        "l": true,
        "EEWeb": true,
        "_": true,
        "amplify": true
    },
    "rules": {
        "valid-jsdoc": [2, { "requireReturn": false}],
        "no-else-return": 2,
        "no-eq-null": 2,
        "no-floating-decimal": 2,
        "no-self-compare": 2,
        "radix": 2,
        "strict": 0,
        "no-undefined": 2,
        "func-names": 2,
        "quotes": [1, "double", "avoid-escape"],
        "no-irregular-whitespace":  0,
        "camelcase": [2, {"properties": "never"}]
    }
}
