{
    "env": {
        "browser": true
    },
    "globals": {
        "$": true,
        "l": true,
        "EEWeb": true,
        "_": true,
        "amplify": true
    },
    "rules": {
        "no-comma-dangle": 2,
        "no-cond-assign": 2,
        "no-shadow": 2,
        "strict": 0,
        "quotes": [1, "double", "avoid-escape"],
        "no-irregular-whitespace":  0
    }
}
